* @cyberark/community-and-integrations-team

# Changes to .trivyignore require Security Architect approval
.trivyignore @cyberark/security-architects

# Changes to .codeclimate.yml require Quality Architect approval
.codeclimate.yml @cyberark/quality-architects

# Changes to SECURITY.md require Security Architect approval
SECURITY.md @cyberark/security-architects

# Changes to trivy.yaml require Security Architect approval
trivy.yaml @cyberark/security-architects
